:root {
--primary-color: #E2DCC5  ;
--font-main: arial;
--text-color: black;
}

body {

font-family: var( --font-main);
color: var(var(--text-color));
background-color: var(--primary-color);
}

a {

color: black;
font-family: Arial, Helvetica, sans-serif;



}