# Port sur lequel le serveur backend démarre
PORT=5000

# Mode d'exécution de l'application (development, production, test)
NODE_ENV=development

# Adresse de connexion à la base de données
DATABASE_URL=

# Clé secrète utilisée pour sécuriser les sessions ou les tokens
JWT_SECRET=

# Adresse autorisée à communiquer avec le serveur (frontend)
CLIENT_URL=

# Clé d'une API externe si ton serveur utilise un service tiers
API_KEY=